# customize
project_name: fwadmin
project_git_repo: https://github.com/mvo5/fwadmin.git # use ZIMK later
project_git_version: master
project_uses_ldap: True
project_uses_south: True
project_uses_ssl: True

# maybe customize
project_admin_mail: user@example.com
project_ssl_cert_chain: some-ch-chain.pem
project_server_fqdn: ${inventory_hostname}.example.com

# optional
#use_staging_config: False
#requirements: "{{ project_root }}/application/requirements.txt"
#requirements_dev: "{{ project_root }}/application/requirements_dev.txt"